# Intellij
.idea/
RadioBook/.idea/
GenderClassifier\ClassifierPreprocessor\.idea
GenderClassifier\RNN\.idea
*.iml
*.iws

# Mac
.DS_Store

# Maven
NLP/target
GenderClassifier\ClassifierPreprocessor\target