# Intellij
.idea/
RadioBook/.idea/
GenderClassifier\ClassifierPreprocessor\.idea
GenderClassifier\RNN\.idea
GenderClassifier/ClassifierPreprocessor/target/
GenderClassifier/RNN/__pycache__/
GenderClassifier/RNN/weights/
*.iml
*.iws

# Mac
.DS_Store

# Maven
NLP/target
GenderClassifier\ClassifierPreprocessor\target